/* Add a black background color to the top navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:cornflowerblue;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}

nav h3,
nav img {
    float: left;
}

nav h3 {
    font-size: 35px;
}

img {
    width: 100px;
    border-radius: 30px;
}

nav ul {
    text-align: right;
}

nav li {
    display: inline-block;
    list-style-type: none;
    text-align: right;
    padding-right: 20px;
}

.nav-buttons a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav-buttons a:hover {
    color: black;
    transform: scale(1, 2);
}
