
.historyHeader {
    border-bottom: solid;
    margin-left: 10px;
}

.profileButtons {
    display: flex;
    justify-content: flex-end;
}

#logout {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.2s ease-in-out;
    background-color: #f44336;
    color: white;
    border: none;
}

#logout:hover {
    background-color: #c43124;
    cursor: pointer;
}

/* clear history button styles */
#clearHistory {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    background-color: #4caf50;
    transition: background-color 0.2s ease-in-out;
    color: white;
    border: none;
}

#clearHistory:hover {
    background-color: #3e8e41;
    cursor: pointer;
}
