#translation-form {
    margin-top: 30px;
}

fieldset {
    border: none;
    border-bottom: solid;
}

fieldset input[type="text"] {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px; 
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 25px;
    border: solid;
}


/* TRANSLATION TEXT ABOVE INPUT FIELD */
fieldset label {
    display: block;
    margin-left: 20%;
    font-size: 20px;

}

.input-button {
    display: flex;
}

.input-button input{
    display: inline-block;
}

.input-button button{
    display: inline-block;
    transition: background-color 0.2s ease-in-out;

}

.input-button button:hover {
    background-color: rgb(17, 153, 17);
}

fieldset button[type="submit"] {
    width: 10%;
    height: 60px;
    background-color: limegreen;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    border: none;
}
